/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'MyWebFont';
  src:  url('./assets/fonts/tktypebold-regular.woff2') format('woff2'),
  url('./assets/fonts/tktypemedium-regular.woff2') format('woff'),
  url('./assets/fonts/tktyperegular-italic.woff2') format('woff'),
  url('./assets/fonts/tktyperegular-regular.woff2') format('woff'),
}
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-4xl;
  /* font-weight: 600; */
}

h4 {
  @apply text-base
}

body {
  font-size: 12px;
  font-family: MyWebFont;
}

p {
  color: gray;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


